/*------------------------------*/
/*------- FONTS-GENERAL -------*/
/*-----------------------------*/
@font-face {
    font-family: 'Bebas Neue';
    src: url('./resources/Bebas_Neue,Sora/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sora';
    src: url('./resources/Bebas_Neue,Sora/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Sora', Arial, sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-weight: normal;
}

/*----------------------------------*/
/*------- WELCOME/END-SCREEN -------*/
/*----------------------------------*/

.container{
    height: 100vh;
    width: 100%;  
    background-repeat: no-repeat;
    background-size: auto 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-blue{
    background-color: #4242E0;
    color: #EBEFF2;
    background-image: url('./resources/Ai.png'); 
    background-position: top right;
}
@media (min-aspect-ratio: 3/2) {
    .container-blue{
        background-size: 100% auto;
    }
}
h6{
    margin: 50px 0 0 0;
    font-size: 2em;
    font-weight: normal;
}
.clickable-link {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
.clickable-link:hover{
    text-decoration: underline;
}

/*-------Welcome Title-------*/
#title-inicial{
    max-width: 700px;
    text-align: right;
}

#title-inicial h1{
    font-size: 15em;
    margin: 0;
}
.title-by-forge{
    margin: -50px 0 0 0;
    width: 215px;
}
@media (max-width: 700px) {
    #title-inicial h1{
        font-size: 30vw;
        margin: 10;
    }
    h6{
        margin: 50px 0 0 0;
        font-size: 5vw;
    }
    .title-by-forge{
        margin: -20vw 0 0 0;
        width: 40vw;
    }
}


/*-------End Title-------*/

.columns{
    width: 100%;
    height: 100%;
    margin: 0 5vw 0 5vw;
    display: flex;
}

.column-message{
    flex: 1;
    flex-direction: column;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-message h1{
    font-size: 14em;
    margin: 0;
}
.column-message h2{
    font-size: 6em;
    margin: -50px 0 0 0;
}

.column-pts{
    flex: 1;
    text-align: center;
    background-color: #EBEFF2;
    color: #4242E0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
}

@media (max-width: 1280px) {
    .column-message h1{
        font-size: 18vw;    
    }
    .column-message h2{
        font-size: 7vw;
    }
    .column-pts{
        font-size: 12vw;
    }
}

@media (max-width: 720px) {
    .columns{
        flex-direction: column;
    }
    .column-message h1{
        font-size: 30vw;  
    }
    .column-message h2{
        font-size: 15vw;
        margin: -5vw 0 0 0;
    }
    .column-pts{
        font-size: 20vw;
    }
}


/*---------------------------------*/
/*---------- QUIZ SCREEN ----------*/
/*---------------------------------*/
.container-quiz, .dark{
    background-color: #2A2C2D;
    color: #EBEFF2;
    background-image: url('./resources/Ai(1).png');
}

.container-quiz, .light{
    background-color: #2A2C2D;
    color: #EBEFF2;
    background-image: url('./resources/Ai(1).png');
}

.question{
    flex-direction: column;
    text-align: center;
    margin: 0 15vw 0 15vw;
}

.question h2{
    font-size: 5em;
    margin: 0;
}

.question h6{
    margin: 15px 0 50px 0;
}

.option{
    height: 80px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #EBEFF2;
    margin: 2vh 7vw 2vh 7vw;
    font-size: 1.5em;
    text-align: left;
    padding: 0 3vw 0 3vw;
}

.option-letter{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #959EA6;
    border-radius: 50%;
    color: #2A2C2D;
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-size: 35px;
    margin: 15px 0 15px 0;
}

.option-txt{
    width: 100%;
    height: 50px;
    margin: 15px 0 15px 2vw;
}

@media (max-width: 700px) {
    .option-letter{
        display: none;
    }
    .option{
        font-size: 3vw;
    }
}





